/* src/index.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  /* ACEASTA ESTE CULOAREA EXTERIOARĂ (Gri Închis) */
  background-color: #1a1a1a; 
  color: white;
  min-height: 100vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

/* Scrollbar Premium */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #1a1a1a; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 5px;
  border: 1px solid #1a1a1a;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff4d4d; 
}